# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build/
app/build/
captures/
.externalNativeBuild
.cxx
local.properties

# Build outputs
**/build/
*.apk
*.aar
*.ap_

# Keys
*.jks
*.keystore
google-services.json
.env
